/* This file contains the global styles for the application */
div#root{
  display: flex !important;
flex-direction: column !important;
min-height: 100vh !important;
}

.MuiContainer-root.MuiContainer-maxWidthMd.css-mwwsgb-MuiContainer-root {
flex: 1 !important;
padding: 20px !important;
}

.dot-loader {
  display: flex;
  gap: 0.2rem;
  justify-content: center;
  align-items: center;
}

.dot {
  font-size: 1.5rem;
  opacity: 0.2;
  animation: pulse 1.4s infinite ease-in-out;
}

.delay-0 { animation-delay: 0ms; }
.delay-1 { animation-delay: 50ms; }
.delay-2 { animation-delay: 80ms; }

@keyframes pulse {
  0%, 100% { opacity: 0.2; transform: scale(1); }
  50% { opacity: 1; transform: scale(1.3); }
}

